@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
   box-sizing: border-box;
}

body,
p {
   margin: 0;
}

body {
   background-color: rgb(219, 213, 213);
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 1em;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.chat {
   background: #075451;
   min-width: 40em;
   width: 60vw;
}

.chat__header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1em;
   background-color: antiquewhite;
   padding: 0.5em 1em;
   border-bottom: 1px solid #053735;
   font-weight: bold;
}

.partner-typing {
   font-weight: 400;
}
.chat__main {
   overflow-y: scroll;
   height: 60vh;
   padding: 2em;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.message {
   display: flex;
}

.user {
   justify-content: flex-end;
}

.message-block {
   background-color: rgba(255, 255, 255, 0.894);
   padding: 1em;
   display: flex;
   flex-basis: 60%;
   flex-grow: 0.2;
   gap: 0.5em;
   border-radius: 0.7em;
   justify-content: space-between;
}

.message-block__time {
   text-align: right;
}

.message-block--user {
   background-color: #6ddba9;
}

.chat__footer {
   background-color: antiquewhite;
   padding: 1em;
   justify-content: flex-start;
   border-top: 1px solid #053735;
}
.chat-form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 0.5em;
}

.chat-form__text {
   flex-grow: 1;
   padding: 1em;
   border-radius: 1em;
   border: none;
   font: inherit;
}

.chat-form__text:focus {
   outline: none;
}

.chat-form__btn {
   border: none;
   background-color: transparent;
   cursor: pointer;
   padding: 0.2em;
   transition: all 0.1s ease-in;
}

.chat-form__btn:hover {
   transform: scale(1.1);
}

.chat-form__btn:active {
   transform: scale(1);
}
